//! **************************************************************************
// Written by: Map P.20131013 on Wed May 29 14:56:49 2019
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

